<div class="stats-switch js-switch">
    <%- link_to('All', '#', {class: 'active'}) %> / <%- link_to('Joined', '#') %> / <%- link_to('Left', '#') %>
</div>
<div class="list-group list-group-small">
		<% _u(clan.lastChanges || []).each(function(change){ %>
			<a href="#" class="list-group-item list-group-item-<%= change.joined ? 'success' : 'danger' %>"><%= change.player_name %>
				<span class="badge"><%= ('00'+change.changed_at.getDate()).slice(-2) %>/<%= ('00'+(change.changed_at.getMonth()+1)).slice(-2) %>/<%= change.changed_at.getFullYear() %></span>
			</a>
		<% }); %>
</div>