<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <script src="/js/jquery-2.1.0.js"></script>

  <%- partial('../tmp/assets') %>

</head>
<body>
<div id="wrap">
  <script>
      cfg = <%- JSON.stringify(sails.config.view) %>;
  </script>
  <%- partial('nav') %>

  <div class="container">
    <%- body %>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  WoT clan statistics by adikus | 2014
</div>

</body>
</html>
