<div class="row ad-container-300x250">
    <div class="ad-rest col-padding-left" id="clan_header">
        <h1><%- img_tag(RegionService.emblemUrl(clan.id)) %> [<%= clan.tag %>]</h1>
        <h2><%= clan.name %></h2>
        <em><%= clan.motto %></em>

        <ul class="nav nav-tabs hidden-xxs hidden-xs hidden-sm">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Tanks</a></li>
            <li><a href="#">Changes</a></li>
        </ul>

    </div>
    <div class="ad-column">
        <div class="ad float"></div>
        <div class="visible-sm col-padding" id="clan_description_small">
            <%- partial('home/side_column') %>
        </div>
    </div>
</div>

<div class="row-fluid visible-xs visible-sm">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Tanks</a></li>
            <li><a href="#">Changes</a></li>
        </ul>
    </div>
</div>

<div class="row ad-container-300x250">

    <div class="ad-rest" id="clan_home">
        <div class="row-fluid">
            <div class="col-xs-6">
                <h3>Stats
                    <small><%- link_to('more', '#') %></small>
                </h3>
                <%- partial('home/stats') %>
            </div>
            <div class="col-xs-6">
                <h3>Members
                    <small><%- link_to('more', '#') %></small>
                </h3>
                <%- partial('home/members') %>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-6">
                <h3>Tanks
                    <small><%- link_to('more', '#') %></small>
                </h3>
                <%- partial('home/tanks') %>
            </div>
            <div class="col-xs-6">
                <h3>Changes
                    <small><%- link_to('more', '#') %></small>
                </h3>
                <%- partial('home/changes') %>
            </div>
        </div>
    </div>
    <div class="ad-column hidden-sm col-padding">
        <%- partial('home/side_column') %>
    </div>
</div>
